{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "env": {
    "node": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ts"]
      }
    }
  },
  "rules": {
    "max-len": "off",
    "import/extensions": [2, {"ts": "never"}]
  }
}
