html
head
  script(src='https://sdk.accountkit.com/en_US/sdk.js')
body
  input#country_code(value='+91')
  input#phone_number(placeholder='phone number')
  button(onclick='smsLogin();') Login via SMS
  script.
    AccountKit_OnInteractive = function(){
      AccountKit.init({
        appId: "#{FACEBOOK_APP_ID}",
        state: "#{CSRF}",
        version: "#{ACCOUNT_KIT_API_VERSION}",
        fbAppEventsEnabled: true,
        debug: true,
      });
    };
    function loginCallback(response) {
      if (response.status === "PARTIALLY_AUTHENTICATED") {
        console.log(JSON.stringify(response, 0, 2));
      } else if (response.status === "NOT_AUTHENTICATED") {
      } else if (response.status === "BAD_PARAMS") {
      }
    }
    // phone form submission handler
    function smsLogin() {
      var countryCode = document.getElementById("country_code").value;
      var phoneNumber = document.getElementById("phone_number").value;
      AccountKit.login(
      'PHONE',
      {countryCode: countryCode, phoneNumber: phoneNumber}, // will use default values if not specified
      loginCallback
      );
    }
